<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="dashboard-container">
        <!-- Header Section -->
        <header class="site-header">
            <div class="left-header">
                <h1>Evergreen Essentials</h1>
                <p>Your portal to a greener lifestyle</p>
            </div>
            <nav class="right-header">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'create_plant' %}">Add Plant</a>
                <a href="{% url 'plant_list' %}">Your Plants</a>
                {% if user.is_authenticated %}
                    <!-- Profile Dropdown -->
                    <div class="dropdown">
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="Profile Image" class="profile-image">
                        {% else %}
                            <img src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Image" class="profile-image">
                        {% endif %}
                        <div class="dropdown-content">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </nav>
        </header>

        <!-- Main Content Section -->
        <main class="content-container">
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</body>
</html>