<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}  {# Customize according to your tags #}
                    <p class="error-message">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username or Email:</label>
            {{ form.username }}

            <label for="password">Password:</label>
            {{ form.password }}

            <button type="submit">Log In</button>
        </form>

        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>