{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="plant-detail">
    <div class="left-column">
        <div class="post-actions">
            <a href="{% url 'update_plant' plant.pk %}">+ Edit Plant</a>
            <a href="{% url 'delete_plant' plant.pk %}">- Delete Plant</a>
        </div>
        <div class="plant-detail-image">
            {% if plant.image %}
                <img class="plant-image-details" src="{{ plant.image.url }}" alt="Plant Image">
            {% else %}
                <p>No image available for this plant.</p>
            {% endif %}
        </div>
    </div>
    <div class="right-column">
        <div class="plant-box-detail">
            <div class="title">
                <h1>{{ plant.name }}</h1>
            </div>

            <div class="description">
              <p><strong>Type:</strong>{{ plant.type }}</p>
            </div>

            <div class="health-status">
                <p><strong>Care Instructions:</strong> {{ plant.care_instructions }}</p>
            </div>


        </div>
    </div>
</div>

{% endblock content %}