{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="plant-container">
    <div class="plant-page">
        <h1>Plant List</h1>
    </div>
    <div class="plant-grid">
        {% for plant in plants %}
            <div class="plant-card">
                <div class="plant-image">
                    {% if plant.image %}
                        <a href="{% url 'plant_detail' plant.pk %}">
                            <img src="{{ plant.image.url }}" alt="Plant Image">
                        </a>
                    {% else %}
                        <div class="no-image">
                            <p>No Image Available</p>
                        </div>
                    {% endif %}
                </div>
                <div class="plant-title">
                    <h4>
                        <a href="{% url 'plant_detail' plant.pk %}">{{ plant.name }}</a>
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
